.primary-nav {
  .nav {
    display: flex;
    justify-content: space-between;

    .nav-btn {
      font-size: $spacing-2;
    }

    .nav-ul {
      display: none;
    }
  }
}

.secondary-nav {
  display: none;
}
