// Colors
$primary-100: #ec5242;
$primary-90: #ee6355;
$primary-80: #f07568;
$primary-70: #f2867b;
$primary-60: #f4978e;
$primary-50: #f6a9a1;
$secondary-100: #272a31;
$secondary-90: #3d3f46;
$secondary-80: #52555a;
$secondary-70: #686a6f;
$secondary-60: #7d7f83;
$secondary-50: #939598;
$neutral-100: #d3d3d3;
$neutral-90: #d7d7d7;
$neutral-80: #dcdcdc;
$neutral-70: #e0e0e0;
$neutral-60: #e5e5e5;
$neutral-50: #e9e9e9;
$neutral-40: #ededed;
$neutral-30: #f2f2f2;
$neutral-20: #f6f6f6;
$neutral-10: #fbfbfb;
$neutral-0: #fff;

// Spacing
$spacing-1: 16px;
$spacing-2: calc(16px * 2);
$spacing-3: calc(16px * 3);
$spacing-4: calc(16px * 4);
$spacing-5: calc(16px * 5);
$spacing-6: calc(16px * 6);
$spacing-7: calc(16px * 7);
$spacing-8: calc(16px * 8);
$spacing-9: calc(16px * 9);
$spacing-10: calc(16px * 10);
$spacing-11: calc(16px * 11);
$spacing-12: calc(16px * 12);
$spacing-13: calc(16px * 13);
$spacing-14: calc(16px * 14);
$spacing-15: calc(16px * 15);

//Font
$font-stack-primary: 'Lato', sans-serif;
$font-stack-secondary: 'Raleway', sans-serif;
$bolder: 800;
$bold: 700;
$regular: 400;
$breakpoint-tablet: 768px;
